@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme inline {
  --color-primary: var(--primary);
  --color-primary-content: var(--primary-content);
  --color-primary-dark: var(--primary-dark);
  --color-primary-light: var(--primary-light);
  --color-secondary: var(--secondary);
  --color-secondary-content: var(--secondary-content);
  --color-secondary-dark: var(--secondary-dark);
  --color-secondary-light: var(--secondary-light);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
  --color-copy: var(--copy);
  --color-copy-light: var(--copy-light);
  --color-copy-lighter: var(--copy-lighter);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --color-success-content: var(--success-content);
  --color-warning-content: var(--warning-content);
  --color-error-content: var(--error-content);
}

:root {
  --primary: #7c3aed;
  --primary-content: #ffffff;
  --primary-dark: #5f14e0;
  --primary-light: #9b69f1;

  --secondary: #ed3a51;
  --secondary-content: #ffffff;
  --secondary-dark: #e0142f;
  --secondary-light: #f1697a;

  --background: #efeff1;
  --foreground: #fbfbfb;
  --border: #dedde2;

  --copy: #252329;
  --copy-light: #645e6e;
  --copy-lighter: #8a8495;

  --success: #3aed3a;
  --warning: #eded3a;
  --error: #ed3a3a;
  --success-content: #032503;
  --warning-content: #252503;
  --error-content: #ffffff;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-foreground text-foreground;
    font-family: "IBM Plex Sans", sans-serif;
  }
}
